#icons {display: none;}
.blind { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; } 
.wrapper{min-width: 280px;}


.inner{
    padding: 0 2.6vw;
}
.title-wrap{
    padding: 0 0 2vw 2vw;
    @include mobile{
        text-align: center;
        margin-bottom: 20px;
    }
    em{
        font-weight: 400;
        padding: 1px 7px;
        border: 2px solid;
        border-radius: 50px;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 26px;
    }
}