// @font-face {
//     font-family: 'basis' ;
//     src: url(../font/basis-grotesque-medium-pro.woff2) format(woff2);
//     font-weight: 400;
// }

@font-face {
    font-family: 'suit';
    src: url(../font/SUITE-Light.woff2) format(woff2);
    font-weight: 100;
}
@font-face {
    font-family: 'suit';
    src: url(../font/SUITE-Regular.woff2) format(woff2);
    font-weight: 400;
}
@font-face {
    font-family: 'suit';
    src: url(../font/SUITE-Bold.woff2) format(woff2);
    font-weight: 700;
}