@font-face {
    font-family: 'basis' ;
    src: url(../font/basis-grotesque-medium-pro.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'pretendard';
    src: url(../font/pretendard-Light.woff);
    font-weight: 100;
}
@font-face {
    font-family: 'pretendard';
    src: url(../font/pretendard-Regular.woff);
    font-weight: 400;
}
@font-face {
    font-family: 'pretendard';
    src: url(../font/pretendard-Black.woff);
    font-weight: 700;
}