.sc-visual{
    .inner{
        padding-top: 122px;
        padding-bottom: 100px;
    }
    .title-wrap{}
    .title-box{
        display: flex;
        span{
            color: #262523;
            font-weight: 900;
            font-size:10.5vw;
            display: flex;
            justify-content: center;
        }
    }
    .shape{
        position: relative;
        width: 8vw;
        // height: 8vw;

        svg{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    .width{
        width: 9vw;
    }
    .circle{
        border: 1.5vw solid #262523;
        border-radius: 5vw;
        height: 8.5vw;
        margin-top: 1.5vw;
        width: 6.5vw;
    }
    .margin{
        margin-left: 2vw;
    }
    .dot{
        margin-top: 7.5vw;
        width: 3vw;
        height: 3vw;
        border-radius: 100%;
        background-color: #fed931;
    }


    // .icon{
    //     animation: flash 3s infinite;
    // }
    // .word{
    //     animation: flash 3s infinite;
        
    // }
    // @keyframes flash {

    //     0% {
    //         opacity: 0;
    //     }

    //     25%{
    //         opacity: 1;
    //     }
    //     75% {
    //         opacity: 0;
    //     }

    //     100%{
    //         opacity: 1;
    //     }

    // }
}

.sc-project{

    .inner{
        padding: 100px 0;
        background: #fed931;
    }
    .title-wrap{
        em{
            border-color: #000;
            color: #000;
        }
    }
    
    .project-item{
        position: relative;
        width: 100%;
        color: #000;
        border-top: 2px solid #000;

        &:last-child{
            border-bottom: 2px solid #000;
        }
      .item-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 3vw 30px 2vw;
        position: relative;

        &::before{
            content: '';
            visibility: visible;
            background: #fed931;
            color: #000;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 0%;
            width: 100%;
            transform-origin: bottom;
            transition: .3s;
        }

        &.active{
            
            &::before{
                background: #000;
                height: 100%;
            }
            strong{
                color: #fff;
                font-weight: 900;
                font-style: italic;
                transform: translateX(20px);
            }
            p{
                color: #fff;
                transform: translateX(-20px);
            }
            img{
                opacity: 1;
                transform: scale(1);
            }
        }
          strong{
            transition: .3s;
            width: fit-content;
            font-size: 62px;
            line-height: 1.1;
          }

          p{
            transition: .3s;
            width: 20%;
            font-size: 20px;
          }

          img{
            transition: .3s;
            opacity: 0;
            position: absolute;
            transform: scale(0);
            border-radius: 30px;
            left: 42vw;
            width: 30vw;
            max-width: 300px;
            min-width: 100px;
            z-index: 1;
          }
      }
    }
}

.sc-about{
    padding-top: 100px;

    .sub-title{
        padding: 0 25px;
        margin-bottom: 20px;

        strong{
            font-size: 48px;
            line-height: 1.2;

            em{
                font-weight: 800;
                font-style: italic;
                position: relative;
                &::after{
                    content: '';
                    display: inline-block;
                    width: 70px;
                    height: 4px;
                    margin: 0 15px;
                    vertical-align: super;
                    background-color: #fed931;
                }
            }
        }
    }
    .about-inner{
        overflow: hidden;
    }
    .about-list{
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        margin-top: 50px;
        padding-left: 25px;
        padding-bottom: 50px;
    }
    .about-item{
        position: relative;
        width: 30vw;
        height: 30vw;
        margin: 50px auto;
        border-radius: 20px;
        perspective: 500px;

            &:hover .item-inner{
                transform: rotateY(180deg);
            }

        &+.about-item{
            margin-left: 60px;
        }
    }

    .item-inner{
        width: 100%;
        height: 100%;
        transition: all .5s;
        transform-style: preserve-3d;
    }
    .text-box{
        padding: 0 12px;
        margin-top: 10px;

        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 20px;
        border-radius: 20px;
        backface-visibility: hidden;
        
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        em{
            font-size: 48px;
            font-weight: 800;
            display: block;
        }
    }

    .front {
        background-color: #fed931;
        z-index: 10;
    }
    
    .back {
        background-color: #eee;
        z-index: 5;
        transform: rotateY(180deg);
    }
}