.sc-visual {
    background: #fff;

    .inner {
        padding-top: 122px;
        padding-bottom: 100px;

        @include tablet {
            padding-top: 80px;
            padding-bottom: 50px;
        }
    }

    .title-wrap {}

    .title-box {
        display: flex;

        span {
            color: #000;
            font-weight: 900;
            font-size: 10.5vw;
            display: flex;
            justify-content: center;
        }
    }

    .shape {
        position: relative;
        width: 8vw;

        svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    .width {
        width: 9vw;
    }

    .circle {
        border: 1.5vw solid #000;
        border-radius: 5vw;
        height: 8.5vw;
        margin-top: 1.5vw;
        width: 6.5vw;
    }

    .margin {
        margin-left: 2vw;
    }

    .dot {
        margin-top: 7.5vw;
        width: 3vw;
        height: 3vw;
        border-radius: 100%;
        background-color: #fed931;
    }
}

.sc-project {

    .inner {
        padding: 100px 0;
        background: #fed931;

        @include mobile {
            padding: 50px 0;
        }
    }

    .title-wrap {
        em {
            border-color: #000;
            color: #000;
        }
    }

    .project-item {
        position: relative;
        width: 100%;
        color: #000;
        border-top: 2px solid #000;

        &:last-child {
            border-bottom: 2px solid #000;

            .item-inner {
                font-size: 42px;
                @include mobile {
                    strong {
                        font-size: 23px;
                    }
                }
            }
        }

        .item-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 3vw 30px 2vw;
            position: relative;

            @include tablet {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &::before {
                content: '';
                visibility: visible;
                background: #fed931;
                color: #000;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 0%;
                width: 100%;
                transform-origin: bottom;
                transition: .3s;
            }

            &.active {

                &::before {
                    background: #000;
                    height: 100%;
                }

                strong {
                    color: #fff;
                    font-weight: 900;
                    transform: translateX(20px) skewX(-15deg);
                }

                p {
                    opacity: 0;
                }

                .link-wrap {
                    visibility: visible;
                    opacity: 1;
                    color: #fff;
                    transform: translateX(-65px);

                    @include tablet {
                        display: none;
                    }
                }

                &.amondz {
                    .link-wrap {
                        transform: translateX(-20px);
                    }
                }

                img {
                    transform: scale(1);
                    opacity: 1;

                    @include tablet {
                        display: none;
                    }
                }

                .arrow-wrap {
                    transform: translateX(-10px);

                    svg {
                        fill: #fff;
                    }
                }
            }

            strong {
                transition: .3s;
                width: fit-content;
                font-size: 62px;
                line-height: 1.1;

                @include tablet {
                    font-size: 45px;
                }

                @include mobile {
                    font-size: 40px;
                }
            }

            p {
                transition: .3s;
                width: 30%;
                font-size: 20px;
                line-height: 1.3;
                word-break: keep-all;

                @include tablet {
                    display: none;
                }
            }

            .link-wrap {
                position: absolute;
                right: 25px;
                visibility: hidden;
                opacity: 0;
                transition: .3s;
                display: flex;
                gap: 15px;

                .view {
                    padding: 10px 15px;
                    background: #fff;
                    color: #000;
                    border-radius: 30px;
                    display: block;
                    font-size: 24px;
                }
            }

            &.amondz {
                .link-wrap{
                    right: 0;
                }
            }

            .link-code {
                background: transparent !important;
                color: #fff !important;
                border: 2px solid #fff;
            }

            img {
                transition: .3s;
                opacity: 0;
                position: absolute;
                transform: scale(0);
                left: 43vw;
                width: 15vw;
                height: 15vw;
                max-width: 250px;
                max-height: 250px;
                z-index: 1;
                border-radius: 30px;
            }

            .arrow-wrap {
                display: none;
                z-index: 1;
                transition: .3s;
                width: 30px;

                @include tablet {
                    display: block;
                }
            }

            .link-mobile {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;

                @include tablet {
                    display: block;
                }
            }

        }
    }
}

.sc-about {
    padding-top: 100px;

    .sub-title {
        padding: 0 25px;
        margin-bottom: 20px;

        @include mobile {
            text-align: center;
        }

        strong {
            font-size: 48px;
            line-height: 1.2;

            @include mobile {
                font-size: 28px;
            }

            em {
                font-weight: 800;
                font-style: italic;
                position: relative;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 70px;
                    height: 4px;
                    margin: 0 15px;
                    vertical-align: super;
                    background-color: #fed931;

                    @include mobile {
                        width: 45px;
                    }
                }
            }
        }
    }

    .about-inner {
        overflow: hidden;
    }

    .about-list {
        height: 50vw;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 50px;
        padding-left: 25px;
        padding-bottom: 50px;

        @include tablet {
            gap: 25px;
            padding-right: 25px;
            flex-wrap: wrap;
        }

        @include mobile {
            flex-direction: column;
        }
    }

    .about-item {
        position: relative;
        width: 30vw;
        height: 30vw;
        margin: 50px auto;
        border-radius: 20px;
        perspective: 500px;

        @include tablet {
            width: calc(50% - 12.5px);
            margin: 0;
        }

        @include mobile {
            width: 100%;
            height: 80vw;
        }

        &:hover .item-inner {
            transform: rotateY(180deg);
        }

        &+.about-item {
            margin-left: 60px;

            @include tablet {
                margin-left: 0;
            }
        }

        &:last-child {
            em {
                font-size: 45px;

                @include tablet {
                    font-size: 30px;
                }
            }
        }
    }

    .item-inner {
        width: 100%;
        height: 100%;
        transition: all .5s;
        transform-style: preserve-3d;
        pointer-events: none;
    }

    .text-box {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        width: 100%;
        height: 100%;
        font-size: 20px;
        border-radius: 20px;
        backface-visibility: hidden;
        overflow: hidden;

        @include tablet {
            align-items: center;
        }

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        em {
            font-size: 60px;
            font-weight: 800;
            display: block;
            position: relative;

            @include tablet {
                font-size: 45px;
            }

            @include mobile {
                font-size: 35px;
            }

        }
    }

    .img-box {
        width: 40px;
        height: 40px;
        position: relative;
        margin-top: -30px;
        color: #fff;
        border-radius: 30px;
        text-align: center;
        padding: 9px;

    }

    .more {
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 30px;
        width: 70px;
        position: absolute;
        right: 20px;
        bottom: 20px;

        @include tablet {
            left: 50%;
            transform: translateX(-50%);
        }

        svg {
            width: 12px;
            height: 12px;
        }
    }

    .front {
        z-index: 10;
        // background-color: #ffe368;
        background-color: #fed931;
    }

    .back {
        background-color: #eee;
        z-index: 5;
        transform: rotateY(180deg);
    }

    .text {
        p {
            line-height: 1.4;
        }
    }

    .html {
        .img-box {
            background-color: #fa5026;
        }
    }

    .css {
        .img-box {
            background-color: #3174ae;
        }
    }

    .scss {
        .img-box {
            padding: 7px;
            border-radius: 30px;
            background-color: #cd669a;
        }
    }

    .js {
        .img-box {
            background-color: #ffcc00;
        }

        .more {
            svg {
                fill: #000;
            }
        }
    }

    .asp {
        .img-box {
            background-color: #a1c2ff;
            padding: 0px;
            border-radius: 30px;

        }
    }

    .git {
        .img-box {
            padding: 7px;
            background-color: #000;
        }

    }
}

.sc-works{
    background: #000;
    transition: .4s;

    .inner{
        padding: 100px 0;
    }
    .title-wrap{
        em{
            color: #fff;
        }
    }
    .works-list{
        padding: 0 2vw;
        display: flex;
        flex-direction: column;
    }
    .works-item{
        width: 55%;
        @include tablet{
            width: 100%;
        }

        &~.works-item{
            margin-top: 5vw;
        }
        
        &.right{
            margin-left: auto;
        }
  
        .thum-box{
            overflow: hidden;
            border-radius: 30px;
            
            img{
                transition: 0.4s;
                max-width: 100%;

                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        .text-box{
            color: #fff;
            margin-top: 20px;
            font-weight: bold;
            @include tablet{
                text-align: center;
            }

            .title{
                font-size: 3vw;
                @include tablet{
                    font-size: 7vw;
                }
            }
            .hover-wrap{
                display: flex;
                flex-direction: row;
                gap: 15px;
                margin-top: 15px;
                @include tablet{
                    justify-content: center;
                }

                .text{
                    font-size: 1vw;
                    font-weight: bold;
                    padding:7px 10px;
                    border: 1px solid #fff;
                    border-radius: 30px;
                }
            }
        }
    }
}