.header{
    padding: 1.3vw 2.6vw;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    z-index: 10;

    .logo{
        font-size: clamp(2rem, 2vw, 3vw);
        font-weight: 900;
        color: #ececec;
        a{
            position: relative;

            &::after{
                content: '';
                position: absolute;
                right: -6px;
                bottom: 1px;
                width: 14px;
                height: 14px;
                z-index: -1;
                background: #0725a8;
                border-radius: 100%;
            }
        }

    }

    .menu-wrap{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        em{
            display: block;
            text-align: center;
            opacity: 0;
            transition: opacity 0.2s;
            &.on{
                opacity: 1;
            }
            
            &::before{
                content: '';
                width: 140px;
                height: 7px;
                margin-bottom: 8px;
                background: #000;
                border-radius: 10px;
                display: block;
            }
        }
    }
    .menu-list{
    }
    .menu-item{
        line-height: 2;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: right;
        a{
            color: #ececec;
        }
    }
}